<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tabla</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tabla</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="numero" label="Numero" type="number" placeholder="000"></ion-input>
    </ion-item>
  
    <ion-item *ngIf="mostrar_boton">
      <ion-button (click)="tablax()" fill="outline" shape="round">
        <ion-icon slot="start" name="star"></ion-icon>
        Mostrar Tabla
      </ion-button>
    </ion-item>
  
    <ion-item *ngFor="let num of rango">
      {{numero}} * {{num}} = {{numero * num}}
    </ion-item>

  </ion-list>
</ion-content>
