<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>About me</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <P>Marjhory Alexander De Los Santos Asencio 2021-1046</P>
      <p>Marjhorydlsa03@gmail.com</p>
      <img src="assets\icon\Marjhory.jpg" alt="Ionic Logo">
    </ion-card-content>

  </ion-card>
</ion-content>
